


.floor-plans-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  
  
}

.floor-info {
    float: left;
    height: 500px;
    border: 1px solid #ca5f0e;
  border-radius: 5px;
  padding: 10px;
  background-color: #d3d3d3;
  
}
.floor-plans-section {
  margin: 6rem auto;
  width: 60%;
  height: 1000px;
  background-color:#dee2d1;
  border: 1px solid #ca5f0e;
  border-radius: 5px;
  padding: 10px;
  margin-top: 6%;
  
}



.floor-info-list {
}

.floor-info-list .floor-info {
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  cursor: pointer;
  transition: all .3s;
}

.floor-info-list .floor-info:hover {
  z-index: 1;
  background-color: #b9ac75;
  color: #0056b3;
  border-color: #dee2e6;
}

.floor-info-list .floor-info.active {
  background-color: #5b7a9b;
  color: #fff;
}

.floor-info-title-left {
  font-size: 2rem;
  background-color: #938e8e;
  color: rgba(255, 255, 255, 0.459);
}

/* .floor-info-title-left1 {
  width: 180px;
    height: 130px;
    font-size: 28px;
    font-weight: bold;
    line-height: 130px;
    color: #fff;
    padding: 0 0 0 20px;
    margin: 0;
    background: #bccc08
} */

.floor-plan-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.floor-plan-img {
  width: 80%;
}

.floor-info-list .section-title {
  font-size: 2rem;
  margin-bottom: 0rem;
}
.floor-info-body {
  padding-left: 22%;
}

.list-floor-item{
  color: #2e7797;
}


#company-box {
  min-height: 300px;
  border: 1px solid #ca5f0e;
  border-radius: 5px;
  padding: 10px;
  background-color: #d3d3d3;
  width: 100%;
  height: auto;
}

.floor-company-name {
  text-align: left;
  color:blueviolet;
  padding-top: 2rem;
  margin: auto 2rem;
  font-size: 1.5em;
  display: inline-block;
}

#company-image-box {
  border: 1px solid #ca5f0e;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3%;
  margin-bottom: 10%;
  min-height: 420px;
  background-color: #d3d3d3;
  display: inline-block;
  width: 100%;
  height: auto;
  
}

#search-box {
  margin: 3rem auto;
  border: 1px solid #ca5f0e;
  border-radius: 5px;
  padding: 10px;
  background-color: #d3d3d3;
  height: 300px;
}

#search-span{
  font-size: 20px;
  margin-bottom: 10%;
}

#search-option1, #search-option2 {
  width: auto;
  height: 20%;
  display: block;
}

#search-input{
  margin-top: 3%;
}

#result-table {
  border-collapse: collapse;
  width: 100%;
}

#search-result{
  border: 1px solid #ca5f0e;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  background-color: #d3d3d3;
}

#result-table th,
#result-table td {
  width: 20%;
  padding: 10px;
  text-align: center;
}

#result-table th {
  background-color: #d3d3d3;
  font-weight: bold;
}

#result-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#result-table tr:hover {
  background-color: #ddd;
}

